@model Livro
@{
    ViewData["Title"] = "Editar Livro";
}

<div class="text-center">
    <h1 class="display-4">Editar Livro</h1>
    <!-- Estilos e scripts Bootstrap e jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Estilos e scripts do bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Livro" asp-action="Atualizar" method="post">

    <input type="hidden" asp-for="Codl" />
    <div class="form-group">
    <label for="titulo">Titulo</label>
    <input type="text" asp-for="Titulo" class="form-control" placeholder="Digite o nome do livro">
        @Html.ValidationMessageFor(x => x.Titulo)
    </div>
    <div class="form-group">
        <label for="editora">Editora</label>
        <input type="text" asp-for="Editora" class="form-control" placeholder="Digite o nome da Editora">
        @Html.ValidationMessageFor(x => x.Editora)
    </div>
    <div class="form-group">
        <label for="edicao">Edição</label>
        <input type="number" asp-for="Edicao" class="form-control" placeholder="Digite o numero da edição">
        @Html.ValidationMessageFor(x => x.Edicao)
    </div>
    <div class="form-group">
        <label for="ano">Ano de Publicação</label>
        <input type="number" asp-for="AnoPublicacao" class="form-control" placeholder="Digite o Ano da publicação">
        @Html.ValidationMessageFor(x => x.AnoPublicacao)
    </div>
    <div class="form-group">
        <label for="precoBase">Preço de Tabela</label>
        <input type="decimal" asp-for="PrecoBase" class="form-control preco-mask" placeholder="R$ 0,00">
        @Html.ValidationMessageFor(x => x.PrecoBase)
    </div>
    <div class="form-group">
        <label asp-for="AutoresSelecionados">Autores</label>
        <select asp-for="AutoresSelecionados" asp-items="ViewBag.Autores" class="selectpicker" data-style="btn-secondary" data-live-search="true" data-width="100%" title="Selecione os autores" multiple>
        </select>
        <span asp-validation-for="AutoresSelecionados" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AssuntosSelecionados">Assuntos</label>
        <select asp-for="AssuntosSelecionados" asp-items="ViewBag.Assuntos" class="selectpicker" data-style="btn-secondary" data-live-search="true" data-width="100%" title="Selecione os assuntos" multiple>
        </select>
        <span asp-validation-for="AssuntosSelecionados" class="text-danger"></span>
    </div>
    <script>
        $(document).ready(function () {
            $('.preco-mask').mask('000,00', { reverse: true });
        });
    </script>

    <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
    <a class="btn btn-secondary d-block" asp-controller="Livro" asp-action="Index">Voltar</a>
</form>

